$break-extra-large: 1200px
$break-large: 945px
$break-medium: 800px
$break-small: 668px
$break-extra-small: 500px

@mixin vertical-align
  +transform(translateY(-50%))
  position: relative
  top: 50%

@mixin transition($transition...)
  -webkit-transition: #{$transition}
  transition: #{$transition}

@mixin transform($str...)
  -webkit-transform: $str
  transform: $str

@mixin transform-origin($str...)
  -webkit-transform-origin: $str
  transform-origin: $str

@mixin appearance($str...)
  -webkit-appearance: none
  appearance: none

@mixin keyframes($animation...)
  @-webkit-keyframes #{$animation}
    @content

  @keyframes #{$animation}
    @content

@mixin animation($str...)
  -webkit-animation: $str
  animation: $str

@mixin pie-clearfix
  zoom: 1

  &:after
    display: block
    visibility: hidden
    height: 0
    clear: both
    content: "."

