.mini-cart
  position: absolute
  top: 0
  right: 50px
  display: block

#cart .cart_holder
  display: none

#cart footer
  padding-bottom: 60px

.cart_form
  +pie-clearfix
  margin: 0 auto
  max-width: 1200px

  .errors
    margin: 0 auto 40px auto
    max-width: 540px
    width: 100%

.cart_items
  float: left
  max-width: 60%
  width: 100%

  @media screen and (max-width: $break-extra-large)
    max-width: 65%

  @media screen and (max-width: $break-large)
    max-width: 60%

  @media screen and (max-width: $break-small)
    float: none
    max-width: 100%

  li
    display: flex
    gap: 20px
    font-size: 14px
    padding-bottom: 40px

    a.item_image
      height: 100%
      max-width: 40%
      text-align: center
      width: 100%

      @media screen and (max-width: $break-medium)
        max-width: 35%

      img
        display: block
        height: auto
        margin: 0 auto
        width: 100%

    .item_details
      font-family: $primary-font
      max-width: 500px
      width: auto

      a
        color: $primary-text-color
        display: block
        font-size: 24px

        @media screen and (max-width: $break-large)
          font-size: 18px

        > span
          color: $secondary-text-color
          display: block
          font-family: $secondary-font
          font-size: 18px
          line-height: 1.5em
          margin-top: 6px

          @media screen and (max-width: $break-large)
            font-size: 14px

    .qty_holder
      display: flex
      align-items: center
      margin-top: 20px

      button
        border-radius: 50%
        border: 1px solid $header-background-color
        color: $header-background-color
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        height: 36px
        line-height: normal
        padding: 0
        width: 36px
        outline: 2px solid transparent
        transition: outline .2s linear

        &:hover, &:focus
          outline: 2px solid $header-background-color

        svg
          display: block
          fill: currentColor
          height: 20px
          position: relative
          width: 20px

      input
        color: $secondary-text-color
        height: 40px
        text-align: center
        width: 60px

        @media screen and (max-width: $break-small)
          height: 36px
          width: 56px

        &:focus
          box-shadow: none
          outline: none

.cart_info
  border: 2px solid $secondary-text-color
  color: $secondary-text-color
  float: right
  max-width: 30%
  padding: 45px 40px 20px 40px
  position: -webkit-sticky
  position: sticky
  text-align: center
  top: 120px
  width: 100%

  @media screen and (max-width: $break-extra-large)
    max-width: 35%

  @media screen and (max-width: $break-large)
    max-width: 40%
    padding: 40px 35px 25px 35px

  @media screen and (max-width: $break-small)
    border: 0
    float: none
    max-width: 100%
    padding: 40px 0 0

  .cart_total
    color: $primary-text-color
    font-size: 26px
    margin-bottom: 20px
    display: flex

    > span
      margin-left: auto

    @media screen and (max-width: $break-medium)
      font-size: 18px

    @media screen and (max-width: $break-small)
      font-size: 26px

  .button
    max-width: 100%

    @media screen and (max-width: $break-medium)
      font-size: 16px

    @media screen and (max-width: $break-small)
      font-size: 18px

  .continue-shopping
    margin-top: 10px

.cart_empty_message
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  margin-top: 40px