@import 'config'

#maintenance
  +align-items(center)
  +flexbox
  font-size: 1.25em
  padding: 100px 20px
  text-align: center

  .maintenance-container
    display: grid
    gap: 48px

  .maintenance-store-name
    font-size: 1.5em
    margin: 0