@import 'config'

.category_list
  margin: 0 auto 60px
  text-align: center

  @media screen and (max-width: $break-small)
    margin-bottom: 40px
    padding: 0 20px

  ul

    li
      display: inline-block
      font-size: 0

      a
        transition: color .2s ease
        display: block
        font-size: 18px
        line-height: 24px
        padding: 10px

        &:hover
          color: $hover-color
          text-decoration: underline

    @media screen and (max-width: $break-small)
      display: none

  .select
    display: none
    max-width: 100%

    @media screen and (max-width: $break-small)
      display: block

.product-list-container
  position: relative

.product-list
  +flexbox
  +flex-wrap(wrap)
  +justify-content(flex-start)
  margin: $base-padding -$base-padding
  padding: 0 10px

  &.justify-center
    +justify-content(center)

.prod-thumb
  +flex-basis(calc(100% / 3))
  color: $primary-text-color
  display: block
  font-size: 0
  padding: $base-padding
  padding-bottom: $base-padding * 2
  position: relative
  text-decoration: none
  vertical-align: middle
  width: calc(100% / 3)

  &:hover
    color: $hover-color

    .prod-thumb-name
      text-decoration: underline

    .product-list-image

      transform: translate3d(0, 0, 0) scale(1.04)

  &.sold img
    opacity: .6

  &.product-image-small
    +flex-basis(calc(100% / 4))
    width: calc(100% / 4)

    @media screen and (max-width: $break-medium)
      +flex-basis(calc(100% / 3))
      width: calc(100% / 3)

    @media screen and (max-width: $break-small)
      +flex-basis(calc(100% / 2))
      width: calc(100% / 2)

  &.product-image-medium
    +flex-basis(calc(100% / 3))
    width: calc(100% / 3)

    @media screen and (max-width: $break-medium)
      +flex-basis(calc(100% / 2))
      width: calc(100% / 2)

  &.product-image-large
    +flex-basis(calc(100% / 2))
    width: calc(100% / 2)

.prod-thumb-container
  position: relative
  width: 100%

.product-list-image-container
  overflow: hidden
  position: relative

  &.product-list-image-container-default:before
    display: none

  &:before
    display: block
    width: 100%
    content: ""
    padding-bottom: 100%
    height: 0

.product-list-image
  transform: translate3d(0, 0, 0)
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%
  height: 100%
  transition: transform .3s ease-in-out

  &.grid-default
    position: relative

  &.grid-cover
    object-fit: cover

  &.grid-contain
    object-fit: contain

.prod-thumb-info
  +flexbox
  +justify-content(flex-start)
  +flex-direction(column)
  line-height: 1.25em
  font-size: 18px
  padding: $base-padding 0
  position: relative
  text-align: center
  width: 100%
  z-index: 1

.prod-thumb-name
  margin-top: $base-padding * 2
  position: relative
  overflow-wrap: break-word

.prod-thumb-price
  font-size: .875em
  font-weight: normal
  margin-top: $base-padding / 2
  opacity: .9

.prod-thumb-status
  font-size: .725em
  line-height: 1em
  position: absolute
  text-align: center
  text-transform: uppercase
  top: $base-padding
  width: 100%
  opacity: .9

.pagination
  +flexbox
  margin: 0 auto
  max-width: 800px
  padding-top: 40px
  text-align: center
  width: 100%

  @media screen and (max-width: $break-small)
    line-height: 40px
    max-width: 100%

  span, a
    display: inline-block
    font-size: 18px
    height: 60px
    text-align: center
    width: 60px

    @media screen and (max-width: $break-medium)
      font-size: 16px
      height: 44px
      width: 44px

    @media screen and (max-width: $break-small)
      font-size: 14px
      height: 40px
      width: 40px

    i
      font-size: 12px
      position: relative

  .current
    background: $header-background-color
    color: $header-text-color

  .previous, .next
    svg
      fill: $secondary-text-color
      height: 24px
      position: relative
      top: 6px
      width: 22px

  .previous

    svg
      transform: rotate(90deg)

  .next

    svg
      transform: rotate(-90deg)

  .disabled
    display: none

.no_products
  text-align: center