@import 'config'

.category_list
  margin: 0 auto 60px
  text-align: center

  @media screen and (max-width: $break-small)
    margin-bottom: 40px
    padding: 0 20px

  ul

    li
      display: inline-block
      font-size: 0

      a
        transition: color .2s ease
        display: block
        font-size: 18px
        line-height: 24px
        padding: 10px

        &:hover
          color: $hover-color
          text-decoration: underline

    @media screen and (max-width: $break-small)
      display: none

  .select
    display: none
    max-width: 100%

    @media screen and (max-width: $break-small)
      display: block

.product-list-container
  position: relative

.product-list
  +flexbox
  +flex-wrap(wrap)
  +justify-content(flex-start)
  margin: $base-padding -$base-padding
  padding: 0

  &.justify-center
    +justify-content(center)

.prod-thumb
  +flex-basis(calc(100% / 3))
  color: $primary-text-color
  display: block
  font-size: 0
  padding: $base-padding
  padding-bottom: $base-padding * 2
  position: relative
  text-decoration: none
  vertical-align: middle
  width: calc(100% / 3)

  &:hover
    color: $hover-color

    .prod-thumb-name
      text-decoration: underline

    .product-list-image

      transform: translate3d(0, 0, 0) scale(1.04)

  &.sold img
    opacity: .6

  &.product-image-small
    +flex-basis(calc(100% / 4))
    width: calc(100% / 4)

    @media screen and (max-width: $break-medium)
      +flex-basis(calc(100% / 3))
      width: calc(100% / 3)

    @media screen and (max-width: $break-small)
      +flex-basis(calc(100% / 2))
      width: calc(100% / 2)

  &.product-image-medium
    +flex-basis(calc(100% / 3))
    width: calc(100% / 3)

    @media screen and (max-width: $break-medium)
      +flex-basis(calc(100% / 2))
      width: calc(100% / 2)

  &.product-image-large
    +flex-basis(calc(100% / 2))
    width: calc(100% / 2)

.prod-thumb-container
  position: relative
  width: 100%

.product-list-image-container
  overflow: hidden
  position: relative

  &.product-list-image-container-default:before
    display: none

  &:before
    display: block
    width: 100%
    content: ""
    padding-bottom: 100%
    height: 0

.product-list-image
  transform: translate3d(0, 0, 0)
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%
  height: 100%
  transition: transform .3s ease-in-out

  &.grid-default
    position: relative

  &.grid-cover
    object-fit: cover

  &.grid-contain
    object-fit: contain

.prod-thumb-info
  +flexbox
  +justify-content(flex-start)
  +flex-direction(column)
  line-height: 1.25em
  font-size: 18px
  padding: $base-padding 0
  position: relative
  text-align: center
  width: 100%
  z-index: 1

.prod-thumb-name
  margin-top: $base-padding * 2
  position: relative
  overflow-wrap: break-word

.prod-thumb-price
  font-size: .875em
  font-weight: normal
  margin-top: $base-padding / 2
  opacity: .9

.prod-thumb-status
  font-size: .725em
  line-height: 1em
  position: absolute
  text-align: center
  text-transform: uppercase
  top: $base-padding
  width: 100%
  opacity: .9

.no_products
  text-align: center

.pagination
  display: grid
  font-size: 1rem
  padding: 32px 0
  justify-content: center
  margin-top: 32px

  @media screen and (max-width: $break-small)
    margin-top: 8px

.page-arrows
  display: flex
  border: 1px solid var(--primary-text-color)
  border-radius: var(--border-radius)
  height: 46px

  .previous, .next
    display: none

.page-link
  display: flex
  align-items: center
  justify-content: center
  gap: 8px
  min-width: 100px
  padding: 0 12px

  @media screen and (max-width: $break-small)
    min-width: 44px

    span
      display: none

  svg
    width: 12px

  &--previous
    border-right: 1px solid var(--primary-text-color)

    svg
      transform: rotate(90deg)

  &--next
    border-left: 1px solid var(--primary-text-color)

    svg
      transform: rotate(-90deg)

  &.disabled
    opacity: .5

  &:not(.disabled)
    &:hover, &:focus
      text-decoration: underline

.page-numbers
  display: flex
  align-items: center
  justify-content: center
  gap: 12px

  span, a
    display: flex
    cursor: pointer
    align-items: center
    justify-content: center
    height: 100%
    min-width: 44px
    text-align: center

    @media screen and (max-width: $break-small)
      min-width: 40px

    &.gap
      opacity: .5
      padding: 8px
      min-width: 0

    &.current
      font-weight: bold
      background: var(--button-background-color)
      color: var(--button-text-color)

    &:not(.current):not(.gap)
      &:hover, &:focus
        background: var(--button-background-color)
        color: var(--button-text-color)

.start_shopping_message
  text-align: center

  p
    margin: 80px 40px

  @media screen and (max-width: $break-small)
    .button
      max-width: 100%