.product-breadcrumb
  margin-bottom: 24px

  a
    text-decoration: underline

.product_columns
  display: grid
  grid-template-columns: 53% 1fr
  column-gap: 50px
  row-gap: 40px

  @media screen and (max-width: $break-medium)
    grid-template-columns: 1fr

.reset-selection-button-container
  max-width: 360px
  text-align: center
  width: 100%

  @media screen and (max-width: $break-small)
    max-width: 100%

button.reset-selection-button
  display: none
  line-height: normal
  margin-top: 10px

.product_detail

  @media screen and (max-width: $break-small)
    padding-left: 20px
    padding-right: 20px

  .product_description
    color: var(--primary-text-color)
    margin-top: 40px

    p
      margin: revert

    &>:first-child
      margin-top: 0

    &>:last-child
      margin-bottom: 0

    ol, ul
      margin: 1em

    ul
      list-style: disc

    ol
      list-style: decimal

    a[href]
      color: var(--secondary-text-color)
      text-decoration: underline

      &:hover
        color: var(--hover-color)

  .product-form
    margin-top: 40px

    .errors
      font-size: 14px
      line-height: 20px
      margin-bottom: 20px
      text-align: left

    .select, button

      @media screen and (max-width: $break-medium)
        max-width: 100%

    #quantity
      display: none

    &.show-sold-out
      option[disabled-type="sold-out"]
        display: block

    &.hide-sold-out
      option[disabled-type="sold-out"]
        display: none

#instant-checkout-button
  margin-top: 12px
  max-width: 360px

  @media screen and (max-width: $break-small)
    max-width: 100%