@import 'config'

.previous_next
  display: flex
  font-size: 14px
  margin-bottom: 60px

  @media screen and (max-width: $break-small)
    margin-bottom: 30px
    padding-left: 20px
    padding-right: 20px

  .previous_product

    svg
      rotate: 90deg

  .next_product
    margin-left: auto

    svg
      rotate: -90deg

  a
    display: flex
    align-items: center
    position: relative
    padding: 4px 0
    gap: 6px
    outline-offset: 4px

    &:hover
      color: $hover-color
      text-decoration: underline

    svg
      display: block
      fill: currentColor
      height: 12px
      width: 12px

.product_columns
  display: grid
  grid-template-columns: 53% 1fr
  column-gap: 50px
  row-gap: 40px

  @media screen and (max-width: $break-medium)
    grid-template-columns: 1fr

.reset-selection-button-container
  max-width: 360px
  text-align: center
  width: 100%

  @media screen and (max-width: $break-small)
    max-width: 100%

button.reset-selection-button
  display: none
  line-height: normal
  margin-top: 10px

.product_detail
  overflow: hidden

  @media screen and (max-width: $break-small)
    padding-left: 20px
    padding-right: 20px

  .product_description
    color: $primary-text-color
    margin-top: 40px

    img, iframe
      display: block
      max-width: 100%

    ol, ul
      margin: 1em 0

    ul
      list-style: disc
      list-style-position: inside

    ol
      list-style: decimal
      list-style-position: inside

    a[href]
      color: $secondary-text-color
      text-decoration: underline

      &:hover
        color: $hover-color

  .product-form
    margin-top: 40px

    .errors
      font-size: 14px
      line-height: 20px
      margin-bottom: 20px
      text-align: left

    .select, button

      @media screen and (max-width: $break-medium)
        max-width: 100%

    #quantity
      display: none

    &.show-sold-out
      option[disabled-type="sold-out"]
        display: block

    &.hide-sold-out
      option[disabled-type="sold-out"]
        display: none

#instant-checkout-button
  margin-top: 12px
  max-width: 360px

  @media screen and (max-width: $break-small)
    max-width: 100%