.product-breadcrumb
  color: var(--secondary-text-color)
  margin-bottom: 24px

  a
    color: inherit
    text-decoration: underline

    &:hover
      color: var(--link-hover-color)

.product-container
  display: grid
  grid-template-columns: 1fr 360px
  column-gap: 60px
  row-gap: 40px

  @media screen and (max-width: $break-large)
    column-gap: 40px

  @media screen and (max-width: $break-medium)
    grid-template-columns: 1fr

.reset-selection-button-container
  text-align: center
  width: 100%

  button.reset-selection-button
    display: none

.product-form
  width: 100%

  button
    max-width: 100%

  @media screen and (max-width: $break-large)
    max-width: 100%

.product-selects
  margin-bottom: 20px

.product_option_groups
  display: flex
  flex-direction: column
  gap: 16px

.product-detail
  display: flex
  flex-direction: column
  row-gap: 36px

  &__header
    display: flex
    flex-direction: column
    row-gap: 8px
    align-items: flex-start

  &__status
    text-transform: uppercase
    font-size: .825rem
    line-height: normal
    font-weight: 500
    display: inline-block
    padding: 4px 6px
    margin-left: 8px
    border: 1px solid var(--border-color)
    border-radius: var(--border-radius)
    letter-spacing: 1.1px


  &__pricing
    color: var(--secondary-text-color)
    display: flex
    align-items: center
    font-size: 1.5em

  .page-title
    margin-bottom: 0
    text-align: left

#instant-checkout-button
  margin-top: 12px