<div class="cart_holder">
  {% if cart.items != blank %}
    <div class="item_holder">
      {% for item in cart.items %}
        <a class="cart_item" href="{{ item.product.url }}">
          <img class="item_image" src="{{ item.product.image | product_image_url | constrain: 240, 240 }}" alt="Image of {{ item.product.name | escape }}">
          <div class="item_info">
            {{ item.product.name }}
            {% unless item.product.has_default_option %}
              <span>{{ item.option.name }}</span>
            {% endunless %}
            <div class="item_price">{{ item.unit_price | money_with_sign }}</div>
          </div>
        </a>
      {% endfor %}
    </div>
    <div class="cart_footer">
      <div class="item_subtotal">
        Subtotal <span>{{ cart.total | money_with_sign }}</span>
      </div>
      <a class="button view_bag" href="/cart">View your bag</a>
    </div>
  {% else %}
    <div>
      Your bag is empty
    </div>
    <a class="button view_bag" href="/products">Start shopping</a>
  {% endif %}
</div>

{% if cart.items != blank %}
  <h1>Your bag</h1>
  <form method="post" action="/cart" id="cart_form" class="cart_form">
    {% if errors != blank %}
      <ul class="errors">
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <ul class="cart_items">
      {% for item in cart.items %}
        <li class="cart_item" data-cart-id="{{ item.id }}">
          <a href="{{ item.product.url }}" class="item_image" title="View {{ item.product.name }}">
            <img src="{{ item.product.image | product_image_url | constrain: 576 }}">
          </a>
          <div class="item_details">
            <a href="{{ item.product.url }}">
              {{ item.product.name }}
              {% unless item.product.has_default_option %}
                <span>{{ item.option.name }}</span>
              {% endunless %}
              <span class="price">{{ item.unit_price | money_with_sign }}</span>
            </a>
            <div class="qty_holder" data-cart-id="{{ item.id }}">
              <button class="qty" type="button" data-func="minus"><svg viewBox="0 0 20 20"><path d="M5 9h10v2H5z"/><path d="M5 9h10v2H5z"/></svg></button>
              {{ item | item_quantity_input, 'quantity', 'quantity' }}
              <button class="qty" type="button" data-func="plus"><svg viewBox="0 0 20 20"><path d="M11 5H9v4H5v2h4v4h2v-4h4V9h-4z"/></svg></button>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="cart_info sticky">
      {% if cart.shipping.enabled %}
        <div class="cart_shipping">
          <div class="select">
            {{ store.country | country_select }}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"/></svg>
          </div>
        </div>
      {% endif %}
      {% if cart.discount.enabled %}
        <div class="cart_discounts">
          {% if cart.discount.pending %}
            <input autocomplete="off" id="cart_discount_code" name="cart[discount_code]" type="text" placeholder="Enter discount"{% if cart.discount.code %} value="{{ cart.discount.code }}"{% endif %}>
          {% else %}
            {% if cart.discount.free_shipping %}
              Free shipping discount!
            {% else %}
              {{ cart.discount.name }}
            {% endif %}
            <a href="#" class="cancel_discount"><svg class="cancel_discount" viewBox="0 0 20 20"><path d="M15 6.4L13.6 5 10 8.6 6.4 5 5 6.4 8.6 10 5 13.6 6.4 15l3.6-3.6 3.6 3.6 1.4-1.4-3.6-3.6z"/></svg></a>
          {% endif %}
        </div>
      {% endif %}
        
        
      {% if cart.shipping.enabled or cart.discount.enabled %}
        {% if cart.shipping.enabled %}
          <h4 class="cart_shipping_amount">
            Shipping:
            {% if cart.shipping.pending %}
              {% if cart.country %}
                <span class="small_message">Select another country</span>
              {% else %}
                <span class="small_message">Select country</span>
              {% endif %}
            {% else %}
              <span>{{ cart.shipping.amount | money_with_sign }}</span>
            {% endif %}
          </h4>
        {% endif %}
        {% if cart.discount.enabled %}
          {% if cart.discount.pending %}
          {% elsif cart.discount.free_shipping %}
            <h4 class="cart_discount_amount">Discount: <span class="small_message">Free shipping</span></h4>
          {% else %}
            <h4 class="cart_discount_amount">Discount: <span>- {{ cart.discount.amount | money_with_sign }}</span></h4>
          {% endif %}
        {% endif %}
      {% endif %}
      <h3>Total  <span>{{ cart.total | money_with_sign }}</span></h3>
      <button type="submit" name="checkout" title="Checkout" class="checkout_btn">Checkout</button>
      <a class="button continue_shopping" href="/products">Continue shopping</a>
    </div>
  </form>
  <div class="cart_empty_message" style="display: none;">
    <p><svg viewBox="0 0 30 30"><path d="M22.7 8c-.9-3.4-4-6-7.7-6S8.2 4.6 7.3 8H2l3 20h20l3-20h-5.3zM15 4c2.6 0 4.8 1.7 5.6 4H9.3c.9-2.3 3.1-4 5.7-4zm8.3 22H6.7L4.3 10H7v3h2v-3h12v3h2v-3h2.7l-2.4 16z"/></svg></p>
    <p><a class="button" href="/products">Start shopping</a></p>
  </div>
{% else %}
  <h1>Your bag is empty</h1>
  <div class="cart_empty_message">
    <p><svg viewBox="0 0 30 30"><path d="M22.7 8c-.9-3.4-4-6-7.7-6S8.2 4.6 7.3 8H2l3 20h20l3-20h-5.3zM15 4c2.6 0 4.8 1.7 5.6 4H9.3c.9-2.3 3.1-4 5.7-4zm8.3 22H6.7L4.3 10H7v3h2v-3h12v3h2v-3h2.7l-2.4 16z"/></svg></p>
    <p><a class="button" href="/products">Start shopping</a></p>
  </div>
{% endif %}