{% if theme.home_tagline != blank %}
  <div class="home_tagline">
    {{ theme.home_tagline }}
  </div>
{% endif %}


{% if theme.featured_items_type == 'Categories' %}
  {% if categories.active != blank and theme.featured_items > 0 %}
    <h1 class="featured_products">Featured categories</h1>
    <div class="product-list-container">
      {% for category in categories.active limit:theme.featured_items %}
        {% assign forloopsize = forloop.length %}
      {% endfor %}
      <div class="product-list {{ forloopsize }} {% if forloopsize < 3 %} justify-center{% endif %}">
        {% for category in categories.active limit:theme.featured_items %}
          <a class="prod-thumb product-image-medium grid-{{ theme.grid_image_style }}" href="{{ category.url }}" title="View {{ category.name | escape }}">
            <div class="prod-thumb-container">
              <div class="product-list-image-container product-list-image-container-{{ theme.grid_image_style }}">
                {% for product in category.products limit:1 %}
                  {% assign image_width = product.image.width | times: 1.0 %}
                  {% assign image_height = product.image.height | times: 1.0 %}
                  {% assign aspect_ratio = image_width | divided_by: image_height %}
                  {% capture image_class %}
                    {% if product.image.height > product.image.width %}
                      image-tall
                    {% elsif product.image.height < product.image.width %}
                      image-wide
                    {% else %}
                      image-square
                    {% endif %}
                  {% endcapture %}
                  <img
                    alt=""
                    class="blur-up product-list-image lazyload grid-{{ theme.grid_image_style }}"
                    src="{{ product.image | product_image_url | constrain: 20 }}"
                    data-srcset="
                      {{ product.image | product_image_url | constrain: 600 }} 600w,
                      {{ product.image | product_image_url | constrain: 800 }} 800w,
                      {{ product.image | product_image_url | constrain: 1000 }} 1000w,
                      {{ product.image | product_image_url | constrain: 1200 }} 1200w
                    "
                    data-sizes="auto"
                  >
                {% endfor %}
              </div>
            </div>
            <div class="prod-thumb-info">
              <div class="prod-thumb-name">{{ category.name }}</div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% else %}
    {% if theme.featured_items > 0 %}
      {% paginate products from products.all by theme.featured_items order:theme.featured_order %}
        {% if products != blank %}
          <h1 class="featured_products">Featured products</h1>
          <div class="product-list-container">
            <div class="product-list {% if products.size < 3 %} justify-center{% endif %}">
              {% for product in products %}
                {% assign image_width = product.image.width | times: 1.0 %}
                {% assign image_height = product.image.height | times: 1.0 %}
                {% assign aspect_ratio = image_width | divided_by: image_height %}
                {% assign product_status = '' %}
                {% case product.status %}
                  {% when 'active' %}
                    {% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
                  {% when 'sold-out' %}
                    {% assign product_status = 'Sold out' %}
                  {% when 'coming-soon' %}
                    {% assign product_status = 'Coming soon' %}
                {% endcase %}
                {% capture image_class %}
                  {% if product.image.height > product.image.width %}
                    image-tall
                  {% elsif product.image.height < product.image.width %}
                    image-wide
                  {% else %}
                    image-square
                  {% endif %}
                {% endcapture %}
                <a class="prod-thumb product-image-medium grid-{{ theme.grid_image_style }} {{ product.css_class }}" href="{{ product.url }}" title="View {{ product.name | escape }}">
                  <div class="prod-thumb-container">
                    <div class="product-list-image-container product-list-image-container-{{ theme.grid_image_style }}">
                      <img
                        alt=""
                        class="blur-up product-list-image lazyload grid-{{ theme.grid_image_style }}"
                        src="{{ product.image | product_image_url | constrain: 20 }}"
                        data-srcset="
                          {{ product.image | product_image_url | constrain: 600 }} 600w,
                          {{ product.image | product_image_url | constrain: 800 }} 800w,
                          {{ product.image | product_image_url | constrain: 1000 }} 1000w,
                          {{ product.image | product_image_url | constrain: 1200 }} 1200w
                        "
                        data-sizes="auto"
                      >
                    </div>
                  </div>
                  <div class="prod-thumb-info">
                    {% if product_status != blank %}<div class="prod-thumb-status">{{ product_status }}</div>{% endif %}
                    <div class="prod-thumb-name">{{ product.name }}</div>
                    <div class="prod-thumb-price">
                      {% if product.variable_pricing %}
                        {{ product.min_price | money: theme.money_format }} - {{ product.max_price | money: theme.money_format }}
                      {% else %}
                        {{ product.default_price | money: theme.money_format }}
                      {% endif %}
                    </div>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <p class="no_products">No items found.</p>
        {% endif %}
      {% endpaginate %}
    {% endif %}
  {% endif %}
</div>