<h1>{% if page.full_url contains "search=" %}Search results{% else %}{{ page.name }}{% endif %}</h1>

{% if categories.active != blank %}
  <div class="category_list">
    <ul>
      <li{% if page.full_url contains '/products' %} class="current"{% endif %}><a href="/products">All</a></li>
      {% for category in categories.active %}
        <li{% if page.full_url contains category.url %} class="current"{% endif %}>{{ category | link_to }}</li>
      {% endfor %}
    </ul>
    <div class="select">
      <select class="category_select">
        <option value="" selected disabled>Browse products...</option>
        <option value="/products">View all</option>
        {% for category in categories.active %}
          <option value="/category/{{ category.permalink }}">{{ category.name }}</option>
        {% endfor %}
      </select>
      <svg viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"/></svg>
    </div>
  </div>
{% endif %}

{% paginate products from products.current by theme.products_per_page %}
  {% if products != blank %}
    <ul class="product_list {% if paginate.items < 4 %}justify_center{% endif %}">
      {% for product in products %}
        <li class="{{ product.css_class }}{% if theme.show_overlay == 'On rollover' %} show_overlay{% endif %}">
          <a href="{{ product.url }}">
            <img alt="Image of {{ product.name | escape }}" src="{{ product.image | product_image_url | constrain: 1200  }}">
            <div class="product_details">
    					<div class="details_background"></div>
    					{% case product.status %}
    						{% when 'active' %}
    							{% if product.on_sale %}<div class="product_status">On Sale</div>{% endif %}
    						{% when 'sold-out' %}
    							<div class="product_status">Sold Out</div>
    						{% when 'coming-soon' %}
    							<div class="product_status">Coming Soon</div>
    					{% endcase %}
              <div class="product_name">{{ product.name }}</div>
              <div class="product_price">{{ product.default_price | money: theme.money_format }}</div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination, 'pagination', 'pagination', '<svg viewBox="0 0 20 20"><path d="M10 14.5L3 6.8l1.4-1.3 5.6 6.1 5.6-6.1L17 6.8"/></svg>', '<svg viewBox="0 0 20 20"><path d="M10 14.5L3 6.8l1.4-1.3 5.6 6.1 5.6-6.1L17 6.8"/></svg>' }}
    {% endif %}
  {% else %}
    {% if page.full_url contains "search=" %}
      <div class="start_shopping_message">
        <p>Sorry, no products were found.</p>
        {% if categories.active == blank %}<p><a class="button" href="/products">Start shopping</a></p>{% endif %}
      </div>
    {% else %}
      <p class="no_products">No products found.</p>
    {% endif %}
  {% endif %}
{% endpaginate %}